.genre1{
    background-color: rgba(33, 161, 186, 0.6);
}
.genre2{
    background-color: rgba(255, 153, 0, 0.6);
}
.genre3{
    background-color: rgba(255, 83, 134, 0.6);
}
.genre4{
    background-color: rgba(171, 180, 191, 0.6);
}
.genre5{
    background-color: rgba(143, 212, 31, 0.6);
}
.genre6{
    background-color: rgba(209, 163, 20, 0.6);
}
.genre7{
    background-color: rgba(157, 118, 191, 0.6);
}
.genre8{
    background-color: rgba(255, 91, 20, 0.6);
}